@{
    ViewData["Title"] = "Home Page";
}
<h3>Principal Claims</h3>

@if (User.Identity.IsAuthenticated)
{
    @foreach (var claim in User.Claims)
    {
        <p>@claim.Type : @claim.Value </p>
    }
}

<h3>Routing Examples</h3>

<p>Two employees: <a href="Two/1/2">Two/1/2</a></p>
<p>Wiki: <a href="Wiki/abc/def">Wiki/abc/def</a></p>